## Загрузка библиотек

In [16]:
!pip install tensorflow==2.3.0

Requirement already satisfied: tensorflow==2.3.0 in /usr/local/lib/python3.7/dist-packages (2.3.0)
Requirement already satisfied: numpy<1.19.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (1.18.5)
Requirement already satisfied: tensorflow-estimator<2.4.0,>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (2.3.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (1.13.3)
Requirement already satisfied: tensorboard<3,>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (2.7.0)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (2.10.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (3.3.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (1.1.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (0.37.1)
Requirement already satisfied: google-pasta>=0.1.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (0.2.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (1.43.0)
Requirement already satisfied: astunparse==1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (1.6.3)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (0.12.0)
Requirement already satisfied: scipy==1.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (1.4.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (1.15.0)
Requirement already satisfied: gast==0.3.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (0.3.3)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (3.17.3)
Requirement already satisfied: keras-preprocessing<1.2,>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow==2.3.0) (1.1.2)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<3,>=2.3.0->tensorflow==2.3.0) (57.4.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<3,>=2.3.0->tensorflow==2.3.0) (3.3.6)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<3,>=2.3.0->tensorflow==2.3.0) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<3,>=2.3.0->tensorflow==2.3.0) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<3,>=2.3.0->tensorflow==2.3.0) (1.8.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<3,>=2.3.0->tensorflow==2.3.0) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<3,>=2.3.0->tensorflow==2.3.0) (2.23.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<3,>=2.3.0->tensorflow==2.3.0) (1.35.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (4.10.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (3.7.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (2021.10.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow==2.3.0) (3.1.1)
time: 2.53 s (started: 2022-01-11 20:13:39 +00:00)

In [17]:
!pip install --no-warn-conflicts -q deepctr

time: 724 ms (started: 2022-01-11 20:13:42 +00:00)

In [18]:
!pip install ipython-autotime

Requirement already satisfied: ipython-autotime in /usr/local/lib/python3.7/dist-packages (0.3.1)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from ipython-autotime) (5.5.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (57.4.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (5.1.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->ipython-autotime) (4.4.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ipython-autotime) (1.15.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->ipython-autotime) (0.7.0)
time: 2.64 s (started: 2022-01-11 20:13:43 +00:00)

In [19]:
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 5.9 ms (started: 2022-01-11 20:13:45 +00:00)

In [20]:
import tensorflow as tf
import pandas as pd
import numpy as np

time: 796 µs (started: 2022-01-11 20:13:45 +00:00)

In [21]:
tf.__version__

'2.3.0'

time: 8.03 ms (started: 2022-01-11 20:13:45 +00:00)

## Загрузка данных

In [22]:
# Загрузка набора данных с google диск
!gdown "https://drive.google.com/uc?export=download&id=1EI9nUbHp0g-hkAg7Dx1nmjDJovhDYdfL"

Downloading...
From: https://drive.google.com/uc?export=download&id=1EI9nUbHp0g-hkAg7Dx1nmjDJovhDYdfL
To: /content/winemag-data-130k-v2.csv.zip
100% 17.2M/17.2M [00:00<00:00, 151MB/s]
time: 3.04 s (started: 2022-01-11 20:13:45 +00:00)

In [23]:
# Разархивирование
!unzip -qq -o winemag-data-130k-v2.csv.zip -d winemag

time: 532 ms (started: 2022-01-11 20:13:48 +00:00)

In [24]:
def get_data():
    df = pd.read_csv('/content/winemag/winemag-data-130k-v2.csv')
    df.drop(columns='Unnamed: 0', inplace=True)

    print(f"Размер загруженного набора данных: {df.shape}")
    print(f"Названия столбцов: {df.columns}")
    
    return df

time: 2.47 ms (started: 2022-01-11 20:13:49 +00:00)

In [25]:
def preprocess_data(input_df):
    df = input_df.copy()
    
    # Замена для последующей обработки текста
    df.loc[df.variety == 'G-S-M', 'variety'] = 'GSM'
    # Извлечение года урожая из названия обзора
    df['year'] = df['title'].str.extract('(\d\d\d\d)')

    return df

time: 2.11 ms (started: 2022-01-11 20:13:49 +00:00)

In [26]:
data = preprocess_data(get_data())
data.head()

Размер загруженного набора данных: (129971, 13)
Названия столбцов: Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

    country  ...  year
0     Italy  ...  2013
1  Portugal  ...  2011
2        US  ...  2013
3        US  ...  2013
4        US  ...  2012

[5 rows x 14 columns]

time: 1.16 s (started: 2022-01-11 20:13:49 +00:00)

## DeepFM подход

### Импорты

In [27]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from deepctr.feature_column import SparseFeat, get_feature_names

from sklearn.model_selection import train_test_split

from deepctr.models import DeepFM

from sklearn.metrics import mean_squared_error

time: 469 ms (started: 2022-01-11 20:13:50 +00:00)

### Данные

#### Рабочий датасет (модель изменяет его)

In [28]:
df = data.copy()
df.head()

    country  ...  year
0     Italy  ...  2013
1  Portugal  ...  2011
2        US  ...  2013
3        US  ...  2013
4        US  ...  2012

[5 rows x 14 columns]

time: 39.5 ms (started: 2022-01-11 20:13:50 +00:00)

In [29]:
df['id'] = np.arange(df.shape[0])

time: 4.11 ms (started: 2022-01-11 20:13:51 +00:00)

#### База данных вин

In [30]:
database = df.copy()
database.head()

    country                                        description  ...  year  id
0     Italy  Aromas include tropical fruit, broom, brimston...  ...  2013   0
1  Portugal  This is ripe and fruity, a wine that is smooth...  ...  2011   1
2        US  Tart and snappy, the flavors of lime flesh and...  ...  2013   2
3        US  Pineapple rind, lemon pith and orange blossom ...  ...  2013   3
4        US  Much like the regular bottling from 2012, this...  ...  2012   4

[5 rows x 15 columns]

time: 38 ms (started: 2022-01-11 20:13:51 +00:00)

### Тренировка модели

###### Feature embedding

In [31]:
sparse_features = ["id", "taster_name", "country", "price"]
target = ['points']

time: 1.26 ms (started: 2022-01-11 20:13:51 +00:00)

In [32]:
for feat in sparse_features:
    lbe = LabelEncoder()
    df[feat] = lbe.fit_transform(df[feat])

time: 106 ms (started: 2022-01-11 20:13:51 +00:00)

In [33]:
fixlen_feature_columns = [SparseFeat(feat, df[feat].max() + 1, embedding_dim=4)
                              for feat in sparse_features]
linear_feature_columns = fixlen_feature_columns
dnn_feature_columns = fixlen_feature_columns
feature_names = get_feature_names(linear_feature_columns + dnn_feature_columns)

time: 19 ms (started: 2022-01-11 20:13:51 +00:00)

###### Сгенерируем тренировочные/тестовые данные для модели

In [34]:
train, test = train_test_split(df, test_size=0.2, random_state=2020)
train_model_input = {name: train[name].values for name in feature_names}
test_model_input = {name: test[name].values for name in feature_names}

time: 87.5 ms (started: 2022-01-11 20:13:51 +00:00)

###### Тренируем модель

In [35]:
model_deep_fm = DeepFM(linear_feature_columns, dnn_feature_columns, task='regression')
model_deep_fm.compile("adam", "mse", metrics=['mse'], )

time: 2.34 s (started: 2022-01-11 20:13:51 +00:00)

In [36]:
history = model_deep_fm.fit(
    train_model_input,
    train[target].values,
    batch_size=256,
    epochs=30,
    verbose=2,
    validation_split=0.2,
    )

Epoch 1/30

/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/indexed_slices.py:432: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

325/325 - 3s - loss: 1199.0714 - mse: 1199.0713 - val_loss: 7.0303 - val_mse: 7.0297
Epoch 2/30
325/325 - 3s - loss: 4.2347 - mse: 4.2337 - val_loss: 6.3079 - val_mse: 6.3065
Epoch 3/30
325/325 - 3s - loss: 1.4917 - mse: 1.4902 - val_loss: 6.1279 - val_mse: 6.1262
Epoch 4/30
325/325 - 3s - loss: 0.5058 - mse: 0.5040 - val_loss: 6.0693 - val_mse: 6.0674
Epoch 5/30
325/325 - 3s - loss: 0.4852 - mse: 0.4831 - val_loss: 6.0134 - val_mse: 6.0111
Epoch 6/30
325/325 - 3s - loss: 0.2776 - mse: 0.2751 - val_loss: 5.9933 - val_mse: 5.9906
Epoch 7/30
325/325 - 3s - loss: 0.2420 - mse: 0.2392 - val_loss: 6.0173 - val_mse: 6.0145
Epoch 8/30
325/325 - 3s - loss: 0.2630 - mse: 0.2600 - val_loss: 5.9825 - val_mse: 5.9794
Epoch 9/30
325/325 - 3s - loss: 0.2041 - mse: 0.2009 - val_loss: 5.9631 - val_mse: 5.9598
Epoch 10/30
325/325 - 3s - loss: 0.2148 - mse: 0.2113 - val_loss: 5.9414 - val_mse: 5.9378
Epoch 11/30
325/325 - 3s - loss: 0.2585 - mse: 0.2547 - val_loss: 5.9296 - val_mse: 5.9256
Epoch 12/30
325/325 - 3s - loss: 0.2623 - mse: 0.2582 - val_loss: 5.9030 - val_mse: 5.8987
Epoch 13/30
325/325 - 3s - loss: 0.2386 - mse: 0.2341 - val_loss: 5.8997 - val_mse: 5.8951
Epoch 14/30
325/325 - 3s - loss: 0.2105 - mse: 0.2057 - val_loss: 5.8527 - val_mse: 5.8477
Epoch 15/30
325/325 - 3s - loss: 0.1871 - mse: 0.1820 - val_loss: 5.8655 - val_mse: 5.8602
Epoch 16/30
325/325 - 3s - loss: 0.1759 - mse: 0.1705 - val_loss: 5.8551 - val_mse: 5.8495
Epoch 17/30
325/325 - 3s - loss: 0.1777 - mse: 0.1720 - val_loss: 5.8356 - val_mse: 5.8296
Epoch 18/30
325/325 - 3s - loss: 0.1844 - mse: 0.1783 - val_loss: 5.8228 - val_mse: 5.8165
Epoch 19/30
325/325 - 3s - loss: 0.1908 - mse: 0.1843 - val_loss: 5.8134 - val_mse: 5.8066
Epoch 20/30
325/325 - 3s - loss: 0.2021 - mse: 0.1951 - val_loss: 5.7685 - val_mse: 5.7612
Epoch 21/30
325/325 - 3s - loss: 0.2050 - mse: 0.1976 - val_loss: 5.7705 - val_mse: 5.7628
Epoch 22/30
325/325 - 3s - loss: 0.1906 - mse: 0.1826 - val_loss: 5.7429 - val_mse: 5.7347
Epoch 23/30
325/325 - 3s - loss: 0.1739 - mse: 0.1655 - val_loss: 5.7419 - val_mse: 5.7333
Epoch 24/30
325/325 - 3s - loss: 0.1670 - mse: 0.1583 - val_loss: 5.7280 - val_mse: 5.7190
Epoch 25/30
325/325 - 3s - loss: 0.1721 - mse: 0.1629 - val_loss: 5.7749 - val_mse: 5.7655
Epoch 26/30
325/325 - 3s - loss: 0.1637 - mse: 0.1540 - val_loss: 5.6899 - val_mse: 5.6800
Epoch 27/30
325/325 - 3s - loss: 0.1660 - mse: 0.1559 - val_loss: 5.7205 - val_mse: 5.7102
Epoch 28/30
325/325 - 3s - loss: 0.1445 - mse: 0.1340 - val_loss: 5.6870 - val_mse: 5.6763
Epoch 29/30
325/325 - 3s - loss: 0.1340 - mse: 0.1231 - val_loss: 5.6731 - val_mse: 5.6620
Epoch 30/30
325/325 - 3s - loss: 0.1373 - mse: 0.1261 - val_loss: 5.7069 - val_mse: 5.6955
time: 1min 23s (started: 2022-01-11 20:13:53 +00:00)

In [37]:
pred_ans = model_deep_fm.predict(test_model_input, batch_size=256)

time: 381 ms (started: 2022-01-11 20:15:16 +00:00)

###### Считаем ошибку на тестовой выборке

In [38]:
mse = mean_squared_error(test[target].values, pred_ans, squared=False)
rmse = mean_squared_error(test[target].values, pred_ans)

print(f"test MSE: {round(mse, 4)}")
print(f"test RMSE: {round(rmse, 4)}")

test MSE: 2.3921
test RMSE: 5.7222
time: 7.33 ms (started: 2022-01-11 20:15:17 +00:00)

### Рекоммендации

#### Предскажем рейтинг для одного пользователя и одного вина

 (Для того, чтобы понять, какие данные надо давать на вход, и какие данные получаем на выходе модели)

In [39]:
user_id = 14

time: 1.39 ms (started: 2022-01-11 20:15:17 +00:00)

In [40]:
single_item = df [df['taster_name'] == user_id][:1]
single_item

   country                                        description  ...  year  id
2       40  Tart and snappy, the flavors of lime flesh and...  ...  2013   2

[1 rows x 15 columns]

time: 46.9 ms (started: 2022-01-11 20:15:17 +00:00)

In [41]:
single_input = single_item[['taster_name', 'id', 'country', 'price']]
single_input

   taster_name  id  country  price
2           14   2       40     10

time: 13.7 ms (started: 2022-01-11 20:15:17 +00:00)

In [42]:
one_prediction_request = {
    'taster_name': single_input['taster_name'].values,
    'id': np.array([user_id]),
    'country': single_input['country'].values,
    'price': single_input['price'].values,
    }
one_prediction_request

{'country': array([40]),
 'id': array([14]),
 'price': array([10]),
 'taster_name': array([14])}

time: 7.15 ms (started: 2022-01-11 20:15:17 +00:00)

In [43]:
single_rating_prediction = model_deep_fm.predict(one_prediction_request)
single_rating_prediction

array([[86.7459]], dtype=float32)

time: 47.1 ms (started: 2022-01-11 20:15:17 +00:00)

 #### Сопоставим предсказанный рейтинг и вино из оригинального датасета

In [44]:
database[database['id'] == one_prediction_request['id'][0]]

   country                                        description  ...  year  id
14      US  Building on 150 years and six generations of w...  ...  2012  14

[1 rows x 15 columns]

time: 65.3 ms (started: 2022-01-11 20:15:17 +00:00)

#### Предскажем рейтинг для одного пользователя и всех вин в датасете

In [45]:
def prepare_input_data(df, user_id, item_ids = None):
    rows = df [df['id'].isin(item_ids)] if item_ids else df
    feature_columns = rows[['id', 'country', 'price']]

    user_id_multiplied = np.full(
        shape=len(rows),
        fill_value=user_id,
        dtype=np.int
        )

    prediction_request = {
        'taster_name': np.array(user_id_multiplied),
        'id': feature_columns['id'].values,
        'country': feature_columns['country'].values,
        'price': feature_columns['price'].values,
    }

    return prediction_request

time: 4.39 ms (started: 2022-01-11 20:15:17 +00:00)

In [46]:
all_dataset_for_one_user = prepare_input_data(df, user_id)
all_dataset_for_one_user

{'country': array([22, 31, 40, ..., 15, 15, 15]),
 'id': array([     0,      1,      2, ..., 129968, 129969, 129970]),
 'price': array([390,  11,  10, ...,  26,  28,  17]),
 'taster_name': array([14, 14, 14, ..., 14, 14, 14])}

time: 8.84 ms (started: 2022-01-11 20:15:17 +00:00)

In [47]:
multiple_ratings_prediction = model_deep_fm.predict(all_dataset_for_one_user)
multiple_ratings_prediction

array([[89.536354],
       [87.69852 ],
       [86.61835 ],
       ...,
       [89.7418  ],
       [89.96265 ],
       [88.985985]], dtype=float32)

time: 6.97 s (started: 2022-01-11 20:15:17 +00:00)

#### Сопоставим предсказанные рейтинги с винами из изначального датасета

In [48]:
ids = all_dataset_for_one_user['id']
ids

array([     0,      1,      2, ..., 129968, 129969, 129970])

time: 4.83 ms (started: 2022-01-11 20:15:24 +00:00)

In [49]:
ratings = np.concatenate(multiple_ratings_prediction)
ratings

array([89.536354, 87.69852 , 86.61835 , ..., 89.7418  , 89.96265 ,
       88.985985], dtype=float32)

time: 97.2 ms (started: 2022-01-11 20:15:24 +00:00)

In [50]:
assert len(ids) == len(ratings)

time: 1.33 ms (started: 2022-01-11 20:15:24 +00:00)

In [51]:
id_rating_predictions_df = pd.DataFrame({'id': ids, 'rating': ratings})
id_rating_predictions_df

            id     rating
0            0  89.536354
1            1  87.698517
2            2  86.618347
3            3  89.654991
4            4  90.911331
...        ...        ...
129966  129966  90.433212
129967  129967  91.555176
129968  129968  89.741798
129969  129969  89.962646
129970  129970  88.985985

[129971 rows x 2 columns]

time: 15.5 ms (started: 2022-01-11 20:15:24 +00:00)

In [52]:
top_ten_wines = id_rating_predictions_df.sort_values('rating', ascending=False)[:10].reset_index(drop=True)
top_ten_wines

       id      rating
0  111755  102.731369
1    7335  101.929695
2  111753  101.557327
3   60881  101.322952
4  118058  101.132088
5   45781  100.994263
6   58352  100.774719
7  111754  100.744438
8   39287  100.741348
9  111756  100.538147

time: 32.1 ms (started: 2022-01-11 20:15:24 +00:00)

In [53]:
original_wines_unordered = database[database['id'].isin(top_ten_wines['id'])]
original_wines_unordered

       country                                        description  ...  year      id
7335     Italy  Thick as molasses and dark as caramelized brow...  ...  1995    7335
39287    Italy  Here's a “wow” wine you won't easily forget. M...  ...  2007   39287
45781    Italy  This gorgeous, fragrant wine opens with classi...  ...  2010   45781
58352   France  This is a magnificently solid wine, initially ...  ...  2010   58352
60881    Italy  Always a standout among Gaja's five single-vin...  ...  2007   60881
111753  France  Almost black in color, this stunning wine is g...  ...  2010  111753
111754   Italy  It takes only a few moments before you appreci...  ...  2007  111754
111755  France  This is the finest Cheval Blanc for many years...  ...  2010  111755
111756  France  A hugely powerful wine, full of dark, brooding...  ...  2010  111756
118058      US  This wine dazzles with perfection. Sourced fro...  ...  2007  118058

[10 rows x 15 columns]

time: 30.4 ms (started: 2022-01-11 20:15:24 +00:00)

In [54]:
final_top_ten = original_wines_unordered.merge(top_ten_wines, on = 'id').sort_values('rating', ascending=False)
final_top_ten

  country  ...      rating
7  France  ...  102.731369
0   Italy  ...  101.929695
5  France  ...  101.557327
4   Italy  ...  101.322952
9      US  ...  101.132088
2   Italy  ...  100.994263
3  France  ...  100.774719
6   Italy  ...  100.744438
1   Italy  ...  100.741348
8  France  ...  100.538147

[10 rows x 16 columns]

time: 40.3 ms (started: 2022-01-11 20:15:24 +00:00)